/*  NAVBAR  */
#main-navbar .nav-link{
  border-bottom: 5px solid #f9f9f9;
  color: black;
}
#main-navbar .nav-link:hover, #main-navbar a.active {
  border-bottom: 5px solid #f94c27;
  color: #999999;
}


.main-logo {
  height: 100px;
  margin-bottom: -70px;  /* Supaya logo offset ke bawah */
}
.small-logo {
  height: 60px;   /* Untuk logo kecil di footer */
}

/*-- SHOWCASE --*/
#showcase{
  background: url('../img/slider-1.jpg');
  height: 644px;
  padding-top: 150px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#showcase h1{
  padding-top: 250px;
}

#showcase .dark-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 644px;
}



/*Media Parners*/
#slide1{
  background-image: url('../img/people1.jpg');
}

#slide2{
  background-image: url('../img/people2.jpg.jpg');
}

#slide3{
  background-image: url('../img/people3.jpg');
}

#slide4{
  background-image: url('../img/people4.jpg');
}
#slide5{
  background-image: url('../img/people5.jpg');
}

#slide6{
  background-image: url('../img/people6.jpg');
}

#slide7{
  background-image: url('../img/people7.jpg');
}

#slide8{
  background-image: url('../img/people8.jpg');
}
#slide9{
  background-image: url('../img/people9.jpg');
}

#slide10{
  background-image: url('../img/people10.jpg');
}
